.hover-div{
  display: none;
}
.container:hover .hover-div{
  display: flex;
  width: 290px;
  height: 290px;
  background-color: #ccc;

}
.container:hover .img-div{
  display: none;
  width: 250px;
  
}
.main{
  width: 100%;
  text-align: center;
}
